<!--
  Copyright 2022 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link href="/static/static.css" rel="stylesheet">
<title>Go Metrics</title>

<body>
  <h1>Hello!</h1>
</body>
</html>
